name: Python application
on: push
jobs:

  test:
    name: Test
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        python-version: [ "3.10", "3.11", "3.12", "3.13", "3.14" ]

    steps:
      - name: Setup dependencies
        uses: ExpressApp/github-actions-poetry@v0.4
        with:
          python-version: ${{ matrix.python-version }}
          poetry-version: "1.1.12"

      - name: Run tests
        run: |
          poetry run ./scripts/test


  lint:
    name: Lint
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        python-version: [ "3.10", "3.11", "3.12", "3.13", "3.14" ]

    steps:
      - name: Setup dependencies
        uses: ExpressApp/github-actions-poetry@v0.4
        with:
          python-version: ${{ matrix.python-version }}
          poetry-version: "1.1.12"

      - name: Run lint
        run: |
          poetry run ./scripts/lint
